<html>
<head>
    <title>Bitcoin Tools</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
    <div class="container">
        <h1>Bitcoin Tools</h1>
        <p>A collection of useful Bitcoin tools for developers.</p>
        <hr>
        <div class="tool-list">
            <a href="/mnemonic-to-private-key">Mnemonic to Private Key</a><br>
            <a href="/private-key-to-address">Private Key to Address</a><br>
            <a href="/wif-to-hex">WIF to Hex Converter</a><br>
            <a href="/transfer-p2pkh">Transfer P2PKH</a>
        </div>
    </div>
</body>
</html>
